.u-section-1 .u-sheet-1 {
  min-height: 732px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 100px auto 0;
}

.u-section-1 .u-image-1 {
  width: 320px;
  height: 190px;
  margin: 35px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  width: 65px;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  margin: 11px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 25px auto 60px;
  padding: 14px 60px 15px 59px;
}